__pycache__/
*.py[cod]
.venv/
venv/
yolo_env/
.env
.env.*
*.engine
*.pt
*.onnx
*.mp4
*.mov
*.avi
*.mkv
*.jpg
*.jpeg
*.png
*.log
models/
uploads/
results/
benchmark_samples/
mediamtx.yml
mediamtx
mediamtx.exe
.DS_Store
Thumbs.db
